body {
    margin: 0;
}

.main {
    width: 60%;
    margin: auto;
}

th, td, tr {
    border: 1px dotted green;
}

tr {
    text-align: center;
}

td .btn-delete-task {
    background-color: palevioletred;
    width: 100%;
}

table {
    width: 100%;
    border: 1px solid;
}

#title, #detail {
    color: green;
}

#delete {
    color: red;
}

#title {
    width: 30%;
}

#detail {
    width: 60%;
}

.header .btn-add-task {
    float: left;
}

.header .btn-logout {
    float: right;
}