body {
    margin: 0;
}

.main {
    width: 20%;
    margin: auto;
    border: 1px solid;
    text-align: center;
}

.main .error {
    color: red;
    padding-bottom: 20px;
}

.main input {
    width: 70%;
    margin-bottom: 20px;
}

.main .login {
    margin: auto;
    width: 100%;
    align-items: center;
}