<html>

<head>
    <link rel="stylesheet" type="text/css" href="styles/addTask.css" />
</head>

<body>
    <div class="main">
        <div class="back"><a href="/home"> <button>Home</button> </a></div>
        <form action="/addTask" method="POST">
            Title: <input type="text" name="title" required />
            Detail: <input type="text" name="detail" required />
            <div class="add-task"><button type="submit">Add</button></div>
        </form>
    </div>
</body>

</html>