<html>

<head>
    <link rel="stylesheet" type="text/css" href="styles/home.css" />
</head>

<body>
    <div class="main">
        <div class="header">
            <a href="/addTask"><button class="btn-add-task">Add new task</button></a>
            <a href="/logout"><button class="btn-logout">Logout</button></a>
        </div>
        <table>
            <tr>
                <th id="title"> Title </th>
                <th id="detail"> Detail </th>
                <th id="delete"> Delete </th>
            </tr>
            <% tasks.forEach(task => { %>
            <tr>
                <td headers="title"> <%= task.title %> </td>
                <td headers="detail"> <%= task.detail %> </td>
                <td headers="delete">
                    <a href="/deleteTask/<%= task.id %>"><button class="btn-delete-task">Delete</button></a>
                </td>
            </tr>
            <% }) %>
        </table>
    </div>
</body>

</html>