<html>

<head>
    <link rel="stylesheet" type="text/css" href="styles/home.css" />  
</head>

<body>
    <div class="main">
        <table>
            <tr>
                <th id="title"> Title </th>
                <th id="detail"> Detail </th>
                <th id="delete"> Delete </th>
            </tr>
            <% tasks.forEach(task => { %>
                <tr>
                    <td headers="title"> <%= task.title %> </td>
                    <td headers="detail"> <%= task.detail %> </td>
                    <td headers="delete"> <form action='/deleteTask/<%= task.id %>' method="GET"> <button>Delete</button> </form> </td>
                </tr>
            <% }) %>
        </table>
    </div>
</body>

</html>