<html>

<head>

</head>

<body>
    <div>
        <form action="/login" method="POST">
            <input name="username" type="text" />
            <input name="password" type="password" />
            <label> <%= error %> </label>
            <button type="submit">Login</button>
        </form>
        <a href="/signup">Sign Up</a>
    </div>
</body>

</html>