<html>

<head>
    <script src="handle/signup.js"></script>
    <link rel="stylesheet" type="text/css" href="styles/signup.css" />
</head>

<body>
    <div class="main">
        <form name="signup" action="/signup" method="POST">
            Username: <input name="username" type="text" />
            Password: <input name="password" type="password" />
            Repassword: <input name="repassword" type="password" />
            <label class="error" > <%= error %></label>
            <div class="signup"> <button type="button" onclick="checkDuplicatePassword()">Sign Up</button> </div>
            <a href="/"> <button>Login</button> </a>
        </form>
    </div>
</body>

</html>